# These are fixed to make sure the same versions are used by pre-commit
# and the development environment. pylint is used locally by pre-commit
# so no need to fix it here.
black==26.5.1
isort==8.0.1
pydocstyle==6.3.0
mypy==2.1.0
