Babel-2.10.3.dist-info/
babel/
beautifulsoup4-4.11.1.dist-info/
bin/
bs4/
certifi-2022.6.15.1.dist-info/
certifi/
charset_normalizer-2.1.1.dist-info/
charset_normalizer/
dateutil/
football_calendar-0.0.1.dist-info/
footcal/
icalendar-4.1.0.dist-info/
icalendar/
idna-3.3.dist-info/
idna/
pydantic-1.10.2.dist-info/
pydantic/
python_dateutil-2.8.2.dist-info/
pytz-2022.2.1.dist-info/
pytz/
requests-2.28.1.dist-info/
requests/
six-1.16.0.dist-info/
six.py
soupsieve-2.3.2.post1.dist-info/
soupsieve/
typing_extensions-4.3.0.dist-info/
typing_extensions.py
urllib3-1.26.12.dist-info/
urllib3/
annotated_types-0.6.0.dist-info/
annotated_types/
certifi-2024.2.2.dist-info/
icalendar-5.0.11.dist-info/
idna-3.6.dist-info/
pydantic_core-2.16.3.dist-info/
pydantic_core/
requests-2.31.0.dist-info/
